@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities) source(none);

@source "../views/**/*.blade.php";
@source "../../../../../notur/extensions/**/*.{js,jsx,ts,tsx,vue,svelte,blade.php,php,html}";
